nav {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    background-color: #6A65FE;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.5rem;
    align-items: center;
    
}

nav ul li {
    padding-left: 2%;
}

.title{
    width: 100%;
    font-size: 3rem;
}
