input::placeholder {
    color: rgb(0, 0, 0);
}

form.category
{
    width: 40%;
    max-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 10px;
}

form.category .categoryInputs {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 5px;
    gap: 2px;
    justify-content: center;
}

form.category .categoryName {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
}


form.category .categoryTax {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
    
}


form.category .categoryAdd {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background-color: #6A65FE;
    font-size: 70%;
    align-items: center;
    border: 0;
    color: white;
}


.linha {
    width: 0.1px;
    background-color: #000000;
    max-height: 100%;
}

form.carrinho {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrinhoTable {
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden hidden solid hidden;
    border-width: .5px;

}

.carrinhoTable tbody, th{
    max-width: 300px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    
}

.carrinhoTable tbody, td {
    max-width: 350px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    font-size: 1rem;
}

td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}