input::placeholder {
    color: rgb(0, 0, 0);
}

.linha {
    width: 0.1px;
    background-color: #000000;
    max-height: 100%;
}

form.carrinhoDetails {
    width: 45%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

}

form.carrinhoTable {
    width: 45%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.carrinhoTable {
    border-collapse: collapse;
    text-align: center;
    border-style: hidden;
}


.carrinhoDetails {
    max-height: 100vh;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden;
    gap: 20px;
}

.carrinhoTable tbody, th{
    max-width: 400px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
}

.carrinhoTable tbody, td {
    max-width: 350px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    font-size: 1rem;
}

select.details {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d96e;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
}

input.details {
    width: 100%;
}

td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}