form.home {
    width: 40%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.home .homeSelectProduct {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d96e;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
}

form.home .homeInputs {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 5px;
    gap: 2px;
    justify-content: center;
}

input::placeholder {
    color: rgb(0, 0, 0);
  }

form.home .homeInputAmount {
    width: 50%;
    font-size: 70%;
    height: 30px;
    padding-left: 1%;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
    
}

form.home .homeInputTax {
    width: 25%;
    height: 30px;
    font-size: 70%;
    padding-left: 1%;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
}

form.home .homeInputUnit {
    width: 25%;
    height: 30px;
    font-size: 70%;
    padding-left: 1%;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
}

form.home .homeInputSubmit {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background-color: #6A65FE;
    font-size: 70%;
    align-items: center;
    color: white;
    border: 0;
}

.linha {
    width: 0.1px;
    background-color: #000000;
    max-height: 100%;
}

form.carrinho {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.carrinhoTable {
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden hidden solid hidden;
    border-width: .5px;
}

.carrinhoTable tbody, th{
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    
}

.carrinhoTable td {
    max-width: 350px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    font-size: 1rem;
}


.totalTax {
    width: 25%;
    font-size: .7em;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
}

input.carrinhoTax, input.carrinhoTotal {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.carrinhoTotal label, input {
    width: 100px;
    
}

.carrinhoCancelFinish {
    width: 25%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.carrinhoFinish {
    align-items: center;
    width: 100px;
    height: 35px;
    box-shadow: 0 0 0 0;
    background-color: #6A65FE;
    font-size: 1rem;
    border: 0;
}

.carrinhoCancel{
    width: 100px;
    height: 35px;
    box-shadow: 0 0 0 0;
    background-color: #ccc;
    font-size: 1rem;
    border: 0;
}

td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}