main {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding-top: 3%;
    margin: 3%;
    width: 94%;
    max-height: 90%;
}

input::placeholder {
    color: rgb(0, 0, 0);
  }

form.product
{
    width: 40%;
    max-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 10px;
}

form.product .productInputs {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 5px;
    gap: 2px;
    justify-content: center;
}

form.product .productProduct {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
}


form.product .productAmount {
    width: 50%;
    font-size: 70%;
    height: 30px;
    padding-left: 1%;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
    
}

form.product .productUnit {
    width: 25%;
    height: 30px;
    font-size: 70%;
    padding-left: 1%;
    border-radius: 4px;
    border-color: #d9d9d900;
    background-color: #d9d9d96e;
}

form.product .productAdd {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background-color: #6A65FE;
    font-size: 70%;
    align-items: center;
    border: 0;
    color: white;
}

form.product .productCategory {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border-color: #d9d9d96e;
    background-color: #d9d9d96e;
    font-size: 70%;
    padding-left: 1%;
}

.linha {
    width: 0.1px;
    background-color: #000000;
    max-height: 100%;
}

form.carrinho {
    width: 53%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrinhoTable {
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden hidden solid hidden;
    border-width: .5px;
    position: relative;
}

.carrinhoTable tbody, th{
    max-width: 35px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    
}

.carrinhoTable tbody, td {
    max-width: 35px;
    height: 35px;
    vertical-align: top;
    border: 1px solid black;
    font-size: 1rem;
}

.carrinhoTable tbody td {
    max-width: 40px;
}

td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

