* {
    padding:0;
    margin:0;
    box-sizing: border-box; 
    list-style: none;  
    text-decoration: none; 
    color: #000000;
    font-family: "Poppins", sans-serif;
}

hmtl, body, #root {
    background-color: aliceblue;
    height: 100%;
}

